.forminput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forminput__zone {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    width: 396px;
}

.forminput__title {
    margin: 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.forminput__form {
    min-height: 431px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.forminput__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 30px;
    position: relative;
}

.forminput__label:last-of-type {
    padding-bottom: 6px;
    margin-bottom: 140px;
}

.forminput__input {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 0 10px;
    font-style: inherit;
    color: #000;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E8E8E8;
}

.forminput__input:focus {
    outline: none;
    border-bottom: 1px solid #3456F3;
}

.forminput__input:invalid {
    color: #EE3465;
}

.forminput__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    position: absolute;
    top: 46px;
    left: 0;
}

.forminput__total-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    position: absolute;
    top: 46px;
    left: 0;
}

.forminput__submit-button {
    height: 45px;
    color: #fff;
    background-color: #3456F3;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.forminput__submit-btn:disabled {
    opacity: .2;
    cursor: default;
}

.forminput__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

.forminput__link {
    color: #3456F3;
    text-decoration: none;
    margin-left: 6px;
}


@media screen and (max-width: 769px) {
    .forminput {
        padding: 232px 0;
        ;
    }
}

@media screen and (max-width: 650px) {
    .forminput__zone {
        width: 300px;
    }

    .forminput__submit-button {
        font-size: 12px;
        line-height: 15px;
    }

    .forminput__login-buttom {
        margin-top: auto;
    }
}

@media screen and (max-width: 425px) {
    .forminput {
        padding: 56px 0 30px;
    }

    .forminput__zone {
        width: 260px;
        align-items: center;
    }

    .forminput__title {
        margin: 50px 0 80px;
    }

    .forminput__subtitle {
        font-size: 12px;
        line-height: 15px;
    }
}