.savedmovies {
    display: flex;
    width: 100%;
    padding: 0 70px;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .savedmovies {
        padding: 0 40px;
    }
}

@media screen and (max-width: 769px) {
    .savedmovies {
        padding: 0 30px;
    }
}

@media screen and (max-width: 425px) {
    .savedmovies {
        padding: 0 10px;
    }
}
